<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcd.jbox2d.game.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/level"
        android:theme="@style/NoTitleBar" >
        <activity
            android:name="com.hcd.jbox2d.game.activity.FirstActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.hcd.jbox2d.game.activity.SecondActivity" >
        </activity>
        <activity android:name="com.hcd.jbox2d.game.activity.ThirdActivity" >
        </activity>
        <activity android:name="com.hcd.jbox2d.game.activity.FourthActivity" >
        </activity>
        <activity android:name="com.hcd.jbox2d.game.activity.LevelActivity" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.Stage1Activity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_first_stage"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.Stage2Activity"
            android:label="@string/title_activity_stage2" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.Stage3Activity"
            android:label="@string/title_activity_stage3" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.Stage4Activity"
            android:label="@string/title_activity_stage4" >
        </activity>
        <activity
            android:name="com.hcd.jbox2d.game.activity.Stage5Activity"
            android:label="@string/title_activity_stage5" >
        </activity>
    </application>

</manifest>
